* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.black-square {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  width: 305px;
  height: 250px;
  overflow: auto;
}

.black-square h2 {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.auth-button {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  border: 2px solid white;
}

.auth-button:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
}
